.avenir__header{
    display: flex;
}

.avenir__header-content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
}

.avenir__header-content h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
} 

.avenir__header-content p{
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 27px;
    color: var(--color-text);
    margin-top: 1.5rem;
}

.avenir__header-content__input{
    width: 100%;
    margin: 2rem 0 1rem;
    display: flex;
}

.avenir__header-content__input input{
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 27px;
    background: var(--color-footer);
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    outline: none;
    color: #fff;
    border-radius: 5px 0px 0px 5px;
}

.avenir__header-content__input button{
    background: #ff4820;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 0 1rem;
    border: none;
}

.avenir__header-image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avenir__header-image img{
    width: 90%;
    height: 90%;
}

@media screen and (max-width: 1050px){
    .avenir__header{
        flex-direction: column;
    }
    .avenir__header-content{
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px){
    .avenir__header h1{
        font-size: 48px;
        line-height: 60px;
    }
    .avenir__header p{
        font-size: 16px;
        line-height: 24px;
    }
    .avenir__header-content__input input,
    .avenir__header-content__input button{
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px){
    .avenir__header h1{
        font-size: 36px;
        line-height: 48px;
    }
    .avenir__header p{
        font-size: 14px;
        line-height: 24px;
    }
    .avenir__header-content__input input,
    .avenir__header-content__input button{
        font-size: 12px;
        line-height: 16px;
    }
}